<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div *ngIf="temperature" style="display: flex;">
      <div class="tempBox" *ngFor="let temperature of temperature">
        <div style="padding: 10px 20px 10px 20px;" *ngIf="temperature.id == 1">
          <h3>
          {{ temperature.id }}
          </h3>
        <h1>
          {{ temperature.temp }}
        </h1>
        </div>
      </div>

      <div class="tempBox" *ngFor="let temperature of temperature">
        <div style="padding: 10px 20px 10px 20px;" *ngIf="temperature.id == 2">
          <h3>
          {{ temperature.id }}
          </h3>
        <h1>
          {{ temperature.temp }}
        </h1>
        </div>
      </div>
      
  </div>
  <div style="text-align: center;">
    <a href="https://www.wunderground.com/dashboard/pws/IDURBA49">Weather Underground</a>
  </div>
  
</body>